.login-card {
    width: 20rem;
    margin-top: 10%;
    min-width: 300px;
}

.logout-card {
    width: 25%;
    margin-top: 10%;
    min-width: 300px;
    padding: 30px;
}

.details-form {
    width: 35%;
    min-width: 500px;
    margin-top: 5%;
    padding-top:25px;;
}

.employees-form {
    width: 98%;
    min-width: 700px;
    margin-left: 1%;
}